* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --bg-color: #fff7e0;
  --speed: 1;
  --button-hover: #f3c892;
  --cells: 4;
  --cell-width: 20vh;
}

#app {
  display: flex;
  width: 100%;
  height: 100vh;
}

.controller {
  padding: 2rem;
  width: 20vw;
  min-width: 200px;
  max-width: 400px;
  padding-top: 1rem;
  background-color: var(--bg-color);
  border-right: 4px solid black;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
}

.controller button {
  padding: 0.5rem 1.25rem;
  border: 1px solid black;
  border-radius: 2px;
  border-bottom: 4px solid gray;
  border-right: 4px solid gray;
  cursor: pointer;
}

button:hover {
  background-color: var(--button-hover);
}

.time {
  display: flex;
  padding-bottom: 1rem;
  flex-direction: column;
  gap: 1rem;
}

.time > div > div {
  padding-top: 5px;
}

.clock {
  margin: 0;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  /* padding: 0.5rem; */
}

main {
  display: flex;
  margin: 0.6rem;
  padding-left: 2rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.parking-lot {
  height: min-content;
  border: 4px solid black;
  overflow: hidden;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(var(--cells), 20vh);
  grid-template-rows: repeat(var(--cells), 20vh);
}

.parking-lot > div {
  position: relative;
  background-color: var(--bg-color);
  border: 1px solid black;
}

.parking-lot > div.clicked {
  background-color: #9cc094;
}

.parking-lot > div.exit::after {
  content: 'EXIT';
  position: absolute;
  letter-spacing: 2px;
  color: lightcoral;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parking-lot > div.occupied {
  background-color: red;
}

.parking-lot > div.explored {
  background-color: lightgreen;
}

.parking-lot > div.path {
  background-color: darkgreen;
}

.parking-lot > div img {
  width: 100%;
}

.sizes-button div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.2rem;
}

.sizes-button button.selected {
  background-color: #f3c892;
}
