*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #fffaf0;
}

:root {
  --bg-color: #fff7e0;
  --speed: 1;
  --button: #fbd38d;
  --button-hover: #f6ad55;
}

/* Global styles */

p {
  margin: 0;
  padding: 0;
}

.flex-between {
  display: flex;
  align-items: center;
}

/* main app */

#app {
  display: flex;
  width: 100%;
  height: 100vh;
}

/* Aside */

.controller {
  padding: 2rem;
  width: 20vw;
  min-width: 250px;
  max-width: 400px;
  padding-top: 1rem;
  background-color: var(--bg-color);
  border-right: 4px solid black;
}

.controller section {
  padding: 0.5rem 0;
}

.controller section div {
  margin-top: 0.2rem;
}

.controller button {
  padding: 0.5rem 1.25rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--button);
  transition: background 150ms ease-in-out;
}

button:hover {
  background-color: var(--button-hover);
}

.controller .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
}

.controller p {
  display: flex;
  align-items: center;
}

.controller p span {
  display: inline-block;
  font-size: 0.8rem;
  color: #7e3441;
  font-weight: bold;
  padding: 0.1rem 0.2rem;
  background-color: #feebc8;
  border-radius: 4px;
  margin-left: 2px;
}

/* Parking lot */
main {
  display: flex;
  margin: 0.6rem;
  padding-left: 2rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.parking-lot {
  --width: 20vh;
  --cells: 4;
  height: min-content;
  border: 4px solid black;
  overflow: hidden;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(var(--cells), var(--width));
  grid-template-rows: repeat(var(--cells), var(--width));
}

.parking-lot > div {
  position: relative;
  background-color: var(--bg-color);
  border: 1px solid black;
  transition: background 150ms ease-in-out;
  cursor: pointer;
}

.parking-lot > div.clicked {
  background-color: #9cc094;
}

.parking-lot > div.exit::after {
  content: 'EXIT';
  position: absolute;
  letter-spacing: 2px;
  color: lightcoral;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parking-lot > div:hover {
  background-color: var(--button);
}

.parking-lot > div.occupied {
  background-color: red;
}

.parking-lot > div.explored {
  background-color: lightgreen;
}

.parking-lot > div.path {
  background-color: darkgreen;
}

.parking-lot > div img {
  width: 100%;
}

.sizes-button div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.2rem;
}

.sizes-button button.selected {
  background-color: #f3c892;
}

/* Car info */
.car-info {
}

.car-info.show {
  display: block;
}
